@import "../main.scss";

.about-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: $accent;
  margin-top: 0;
  margin-bottom: 0;

  .next-img {
    margin-top: 3rem;
    height: 40vh;
    object-fit: cover;
    border-radius: 10%;
    width: 70%;
  }

  .about-content {
    margin-left: 3rem;
    width: 45%;
    width: 100%;
    text-align: center;
    margin-left: 0;

    .about-header {
      margin-bottom: 2rem;

      .about-title {
        font-size: 2rem;
        font-weight: 600;
        color: white;
        text-shadow: 0 0 1rem $primary;
      }
    }

    .about-text {
      width: 90%;
      margin: auto;
      font-weight: 500;
    }
  }
}

@media (min-width: 768px) {
  .about-section {
    margin-top: 10rem;
    padding: 0 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90vh;

    .next-img {
      width: 100%;
      height: 70vh;
      grid-column: 1 / 2;
      grid-row: 1 / span 2;
      margin: 0;
    }

    .about-content {
      margin: 0;
      margin-top: 6rem;
      padding-left: 2rem;

      .about-header {
        .about-title {
          font-size: 2.5rem;
        }
      }

      .about-text {
        font-size: 1.15rem;
      }
    }
  }
}
