@import "../main.scss";

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: $secondary;
  }

  .contact-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    .contact-card {
      width: 90vw;
      display: flex;
      flex-direction: column;
      text-align: center;

      i,
      h3,
      p {
        margin: 0;
      }

      i {
        margin-bottom: 1rem;
        font-size: 4rem;
        color: $accent;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .contact-section {
    .contact-cards {
      flex-direction: row;
      margin-top: 1rem;

      .contact-card {
        width: 40vw;
      }
    }
  }
}
