@import "../main.scss";

.feedback-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
  align-items: center;

  .feedback-header {
    h2 {
      color: $primary;
      font-size: 2rem;
    }
  }

  .feedback-form {
    width: 80%;
    display: flex;
    flex-direction: column;

    h3 {
      color: rgba(black, 0.5);
    }

    input,
    textarea {
      border: 2px rgba(black, 0.25) solid;
      height: 1.5rem;
    }

    #feedback {
      min-height: 5rem;
    }

    button {
      border: none;
      margin-top: 2rem;
      color: white;
      padding: 1rem;
      background-color: $secondary;
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .feedback-section {
    margin-top: 5rem;
    margin-bottom: 0;
    .feedback-form {
      width: 45%;
    }
  }
}
