@import "../main.scss";

nav {
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: $secondary;
  // box-shadow: 0 -5px 50px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;
  z-index: 1000;

  ul {
    display: none;
  }

  button,
  i {
    display: none;
  }

  .link-container {
    display: none;
  }

  .next-img {
    margin-top: 1.5rem;
    object-fit: contain;
    height: 50%;
    width: 20vw;
    filter: drop-shadow(0 0 1rem rgba($accent, 0.35));
    margin-left: 10vw;
  }
}

.sticky {
  position: fixed;
  transition: all 1s;
  box-shadow: 0 0 1rem rgba(black, 0.5);
  display: flex;

  background-color: $primary;

  button {
    background-color: transparent;
    display: flex;
    width: 10vw;
    margin-left: 1rem;
    border: none;
  }

  i {
    color: white;
    display: block;
    font-size: 1.5rem;
  }

  a {
    margin-right: 2rem;
  }

  .next-img {
    transition: all 1s;
    height: 50%;
    width: 15vw;
    margin: 0.5rem auto;
  }
}

aside {
  position: fixed;
  width: 50vw;
  height: 100vh;
  background-color: $primary;
  box-shadow: 0 0 1rem rgba(black, 0.5);

  button {
    background-color: transparent;
    display: flex;
    width: 10vw;
    margin-left: 1rem;
    border: none;
    margin-top: 1.5rem;
  }

  .link-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-top: 2.5rem;
    gap: 1.5rem;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  i {
    color: white;
    display: block;
    font-size: 1.5rem;
  }
}

.show-sidebar {
  opacity: 1;
  z-index: 5000;
}

.hide-sidebar {
  opacity: 0;
  z-index: -5000;
}

@media (min-width: 768px) {
  nav {
    .next-img {
      width: 7.5vw;
      margin-top: 2.5rem;
      margin-left: 5vw;
    }

    a {
      display: none;
    }
  }

  .sticky {
    button {
      display: none;
    }

    .next-img {
      margin: 1rem 4rem;
      width: 3.5vw;
    }

    .link-container {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      margin-right: 2rem;

      a {
        display: flex;
        text-decoration: none;
        color: white;
        font-size: 1.15vw;
        font-weight: 500;
        align-items: center;

        &:hover {
          color: $accent;
        }
      }
    }

    a {
      display: none;
    }
  }
}
