@import "../main.scss";

.pricing-section {
  .pricing-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 2rem;
      color: $primary;
      margin: 0;
      margin-top: 2rem;
    }

    h5 {
      width: 90%;
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 500;
    }
  }

  h2 {
    text-align: center;
    color: $secondary;
  }

  .pricing-content {
    display: flex;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    margin-left: 1rem;
    padding: 1rem;

    .pricing-card {
      text-align: center;
      flex-shrink: 0;
      width: 75vw;
      padding: 1rem;
      border-radius: 2.5rem;
      background-color: $accent;
      scroll-snap-align: start;
      height: min-content;

      h3 {
        color: white;
        font-size: 1.5rem;
      }

      p {
        font-size: 1.15rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .pricing-section {
    .pricing-header {
      h5 {
        letter-spacing: initial;
        font-size: 1.35rem;
        width: 50%;
      }
    }

    .pricing-content {
      flex-wrap: wrap;
      justify-content: center;

      .pricing-card {
        width: 25%;
        height: auto;
        box-shadow: 0 0 0.5rem rgba(black, 0.5);
      }
    }
  }
}
