@import "../main.scss";

.testimonials-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;

  .testimonials-header {
    margin-bottom: 1rem;

    h4 {
      font-size: 1.25rem;
    }

    h2 {
      font-size: 1.75rem;
      text-align: center;
    }

    .testimonials-subtitle {
      text-align: center;
      color: $primary;
      margin-bottom: 1rem;
    }
  }

  .testimonials-content {
    margin-left: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    scroll-snap-type: x mandatory;
    overflow-x: auto;

    .card {
      flex-shrink: 0;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    border: none;
    width: 70vw;
    padding: 1rem;

    height: min-content;
    border-radius: 2rem;
    background-color: #f1f1f1;
    scroll-snap-align: start;
  }
}
