@import "../main.scss";

.passion-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;

  img {
    width: 40vw;
    height: 70vh;
    object-fit: cover;
    border-radius: 5%;
  }

  .passion-content {
    width: 45vw;

    .vertical {
      border-left: 6px solid $primary;
      height: 10vh;
    }

    .passion-article {
      margin-left: 1rem;

      h1 {
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .passion-title {
    transition: all 0.5s;

    &:hover {
      color: $primary;
      text-shadow: 0 0 5rem $primary;
    }
  }
}

@media only screen and (max-width: 768px) {
  .passion-section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    img {
      width: 100%;
    }

    .passion-content {
      width: 100%;
      font-size: 0.91rem;
    }
  }
}
