$primary: #6cc8e7;
$secondary: #80a0d6;
$accent: #27b8d1;
$background: #ffffff;
$text: white;

body,
main {
  padding: 0;
  margin: 0;

  .blue-bar {
    background-color: $secondary;
    color: $secondary;
    padding: 1.5rem;
    text-align: center;
    position: sticky;
    // top: 0;
    z-index: 100;
  }
}
