@import "../main.scss";

.location-section {
  display: flex;
  height: 100vh;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
  padding: 8rem;
  gap: 3rem;

  iframe {
    height: 100%;
    border-radius: 5%;
    width: 100%;
  }

  .location-content {
    margin-top: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
    width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  .location-section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    iframe {
      width: 100%;
    }

    .location-content {
      text-align: center;
      width: 100%;
      margin-left: 0;

      .location-text {
        margin-top: 1.5rem;
      }
    }
  }
}
