@import "../main.scss";

nav {
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: $secondary;
  box-shadow: 0 -5px 50px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;
  padding-top: 1rem;
  z-index: 1000;

  .next-img {
    object-fit: contain;
    width: 15vw;
    padding-left: 5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    gap: 3rem;
    display: flex;
    padding-right: 5rem;

    li a {
      color: white;
      text-decoration: none;
      font-size: 1.25rem;
      transition: 0.2s color;

      &:hover {
        color: $primary;
      }
    }
  }
}

.sticky {
  position: fixed;
  transition: all 1s;
}

// @media only screen and (min-width: 768px) {
//   nav {
//     a {
//       transition: all 0.4s;

//       &:hover {
//         transform: translateY(-0.5rem);
//         color: $primary;
//         text-shadow: 0 0 5rem $primary;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 768px) {
//   nav {
//     background-color: $background;
//     width: 100%;
//     position: relative;
//     top: 0;
//     left: 0;
//     color: $secondary;
//     align-items: center;

//     img {
//       margin-left: 1.5rem;
//       width: 10em;
//     }

//     div {
//       margin-right: 1.5rem;
//     }

//     a {
//       display: none;
//     }

//     button {
//       display: none;
//     }
//     border: none;
//   }
// }
