@import "../main.scss";

.passion-section {
  display: flex;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 0;
  margin-bottom: 0;

  img {
    width: 40vw;
    height: 70vh;
    object-fit: cover;
    border-radius: 5%;
    width: 90vw;
    height: 40vh;
  }

  h1 {
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    text-shadow: 3px 3px 0 $primary;
  }
}
