@import "../main.scss";

.testimonials-section {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow: hidden;

  .testimonials-header {
    margin-bottom: 1rem;

    .testimonials-subtitle {
      text-align: center;
      color: $primary;
      margin-bottom: 1rem;
    }
  }

  .testimonials-content {
    display: flex;
    gap: 2.5rem;
    overflow: hidden;
    animation: 20s slide infinite linear;

    @keyframes slide {
      from {
        transform: translateX(calc(30% + 35rem));
      }
      to {
        transform: translateX(calc(-30% - 35rem));
      }
    }

    &:hover {
      animation-play-state: paused;
    }
  }

  .card {
    justify-content: space-between;
    border: none;
    width: 25rem;
    padding: 1rem;
    background-color: #f1f1f1;
  }
}

@media only screen and (max-width: 768px) {
  .testimonials-section {
    .card {
      width: 15rem;
    }
  }
}
