// Home.scss

$primary: black;
$secondary: white;
$accent: #3f6634;

nav {
  background-color: $secondary;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: $secondary;

  h2 {
    color: $accent;
  }

  button {
    height: 2rem;
  }
}
